.section {
  background-color: #f8f6f6;
   

  &__buttonGroup {
    background-color: #f8f6f6;
    margin:0 5%;
    color: rgb(187, 183, 183);
    display: flex;
    justify-content: flex-end ;
    align-items: flex-end;    
    border: none;
    outline: none ;
    padding: 5px 10px;
    margin: 5px;

    :hover{
      color: #888080;
    }
  }
   
}
